<h1>Fire Nation Members: <%= @facade.characters.count %></h1>
<% @facade.characters.each do |person| %>
  <div id="person-<%=person.id%>">
    <ul class="person">
      <li class="name">Name:<%= person.name %></li>
      <li class="photoURL">Photo:<% if person.photo != nil %>
        <%= image_tag("#{person.photo}.jpg") %></li>
        <% else %>
          <%= "None" %>
      <% end %>
      <li class="allies">Allies:<%= person.allies %></li>
      <li class="enemies">Enemies:<%= person.enemies %></li>
      <li class="affiliation">Affiliation:<%= person.affiliation %></li>
    </ul>
  </div>
<% end %>